# Dependencies
node_modules
dist
*.log

# Editor
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# pnpm
.pnpm-store
.pnpm-debug.log*

# Examples
examples/*/node_modules
examples/*/dist
examples/*/.vite

# NPM
.npmrc
